{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('pais_index') }}">Países</a></li>
        <li><a href="{{ path('departamento_index') }}">Departamentos</a></li>
    </ul>
{% endblock %}
